.shows-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    
      
}   
.shows-content{
padding: 5px;
font-weight: 600;
color: rgb(3, 86, 86);
}

.shows-content img{   
width: 250px;
height: 350px;
}